# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# uv
.uv/
# uv.lock  <-- 과제 때문에 이 파일은 커밋해야 하므로 ignore 하지 않음

# Distribution / Packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Logs
*.log
